/************************************************************
*                              Mapa                         *
*************************************************************/

#mapa {
    height: 30rem;
}

#gifCargar {
    z-index: 999;
    position: absolute;
    left: 20%;
    top: 10%;
    background-color: rgba(255, 255, 255, 0.808);
}

#cards-explorer {
    overflow-y: scroll;
    scrollbar-width: none;
    height: 25rem;
}

#cards-explorer::-webkit-scrollbar {
    display: none;
  }

.card-explorador .card {
    flex: 0 0 auto;
    
}