/************************************************************
*                              Mapa                         *
*************************************************************/

#mapa {
    height: 600px;
}

#gifCargar {
    z-index: 999;
    position: absolute;
    left: 35%;
    top: 35%;
}

#cards {
    height: 700px;
    overflow-y: scroll;
}

.card-explorador {
    height: 200px;
    width: 200px;
}

.banner-info {
    background-color: #F2E7C9;
    border-radius: 15px;
}