/************************************************************
*                           Footer                          *
*************************************************************/

/* Redes Sociales */

.redes-sociales a {
    color: #4e4868;
}

.redes-sociales a:hover {
    color: #453e64;
}

.redes-sociales i {
    font-size: 2em;
}

/* Copyright */

.footer-copyright {
    background-color: #f2e7c9;
}

.banner {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    z-index: 9999;
}

.bannerTexto {
    color: white;
    font-size: large;
    font-weight: bold;
}
