/************************************************************
*                        Menu Arriba                        *
*************************************************************/

#logo {
    width: 245px;
    height: 60px;
}

.navItemPldts {
    color: rgb(64, 49, 114);
    text-shadow: 0.5px 0.7px #E4F0C4;
    text-transform: uppercase;
    font-weight: bold;
}

.navItemPldts:hover{
    color: rgb(91, 45, 241);
}

.navLiPldts :after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.navLiPldts :hover:after {
    width: 100%;
    border-bottom: #ffffff solid 2px;
}