/************************************************************
*                        Menu Arriba                        *
*************************************************************/
.menu-link {
    transition: 0.3s ease;
    text-decoration: none;
    padding: 10px 0;
    margin: 0 10px;
    text-shadow: 0.5px 0.7px #E4F0C4;
    font-size: 1.25em;
}

.menu-link:hover {
    color: #676086;
    text-shadow: 0.5px 0.7px #ffffffad;
    border-bottom: 4px solid #E4F0C4;
    padding: 6px 0; 
}

/* Parte derecha (Usuario) */
.btn-usuario {
    width: 45px;
    background-color: #463f61bb;
    height: 45px;
}

.icono-usuario {
    color: #ffd2ad
}